@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --back: #e0e0e0;
  --main: #1d3649;
}

* {
  font-family: "Roboto", sans-serif;
  color: var(--main);
}

html,
body {
  background-color: var(--back);
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: var(--main);
}

.head {
  background: linear-gradient(150deg, #4a498f 20%, #7271b5 80%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 36px !important;
  padding: 10px;
}

.logo {
  margin-left: 50px;
}
.headText {
  color: white;
  text-align: right;
  margin: 10px;
  margin-right: 50px;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 50%;
}

h1 {
  filter: drop-shadow(2px 1px 1px black);
  margin: 20px;
  max-height: 40px;
}

.line-break {
  width: 100%;
}

#result {
}

.alert {
  position: relative;
  display: block;
  padding: 1em 1.8em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  margin: 0.4em 3em 0.4em 3em;
  background: transparent;
  color: white;
}

/* Error */
.alert-error {
  background: #e74c3c;
  border: 1px solid #c0392b;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Success */
.alert-success {
  background: #2ecc71;
  border: 1px solid #27ae60;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Info */
.alert-info {
  background: #3498db;
  border: 1px solid #2980b9;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

i {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(150deg, #4a498f 20%, #7271b5 80%);
  text-align: right;
}

footer div {
  margin: 10px 50px 10px 10px;
  color: white;
  font-size: small;
}

#morph {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
  width: 350px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 20px #bebebe, -5px -5px 20px #ffffff;
}

.morph-inset {
  box-shadow: inset 5px 5px 20px #bebebe, inset -5px -5px 20px #ffffff !important;
}
button {
  margin-left: 10px;
}

input {
    width: 250px;
}
